/* Base styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    /* For this project */
    border-radius: 40px;
    background: linear-gradient(93deg, #F5166B 1.73%, #ED6923 100%);
    box-shadow: 10px 10px 23px 0px rgba(166, 180, 200, 0.20);
    transition: .2s linear;
    color: #fff;
    font-weight: 500;
}

button:hover {
    box-shadow: 0px 6px 23px 0px rgba(237, 105, 35, 0.70);
    transform: translateY(-5px);
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

li {
    list-style: none;
}

.container {
    max-width: 1316px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Fonts */

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.ttf') format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.ttf') format(truetype);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.ttf') format(truetype);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.ttf') format(truetype);
    font-weight: 700;
    font-style: normal;
}

/* Common */
.title {
    font-size: 65px;
    font-weight: 600;
    line-height: 130%;
}

.title span {
    font-weight: 800;
}

.gradient-text {
    background: linear-gradient(93deg, #F5166B 1.73%, #ED6923 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.promo, .header, .consultation {
    background: linear-gradient(92.88deg, 
    rgba(245, 22, 107, 0.1) 1.73%,
    rgba(237, 105, 35, 0.1) 100%);
}

.card-block {
    border-radius: 40px;
    border: 1px solid #F1E8EF;
    background: rgba(245, 237, 243, 0.30);
}

/* Header */

.header {
    height: 88px;
}

.header__wrapper {
    width: 100%;
    height: inherit;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__block {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav {
    height: 30px;
}

.nav__list {
    display: flex;
    gap: 40px;
    position: relative;
}

.nav__list-item,
.dropdown__menu-item,
.footer-nav__list-item,
.footer-dropdown__menu-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    transition: .4s linear;
    cursor: pointer;
    background: linear-gradient(92.88deg, #F5166B 1.73%, #ED6923 50%, #000 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: .4s ease;
    cursor: pointer;
}

.nav__list-item:hover,
.dropdown__menu-item:hover,
.footer-nav__list-item:hover,
.footer-dropdown__menu-item:hover {
    background-position: 0 100%;
}

.dropdown-trigger {
    display: flex;
    gap: 5px;
}

.dropdown-trigger::after {
    content: "";
    display: block;
    width: 20px;
    height: 30px;
    background: url('../img/common/header/arrow.png') center center / cover no-repeat;
}

.dropdown-trigger:hover::after {
    background: url('../img/common/header/arrow-active.png') center center / cover no-repeat;
}

.dropdown__menu {
    top: 40px;
    left: 20%;
    position: absolute;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    z-index: -1;
    transition: .4s ease;
}

.dropdown__menu.active {
    opacity: 1;
    z-index: 5;
}

.header__contacts {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__socials-item {
    transition: .2s linear;
}

.header__socials-item:hover {
    opacity: .7;
}

.header__phone {
    color: #8B8986;
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
}

.header__button {
    width: 169px;
    height: 40px;
    /* Button text */
    color: #FEF5FC;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.burger, .burger-menu {
    display: none;
}

@media (max-width: 576px) {
    .nav, .header__contacts {
        display: none;
    }
    .header {
        height: 60px;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .logo {
        width: 96.552px;
        height: 40px; 
    }
    .burger-menu {
        position: absolute;
        z-index: 10;
        top: 0;
        right: -110%;
        display: block;
        width: 100%;
        padding: 0 20px 50px;
        background: #fff;
        transition: .3s linear;
    }
    .burger-menu.active {
        right: 0;
    }
    .burger-menu__top {
        display: flex;
        justify-content: space-between;
        height: 60px;
        align-items: center;
        border-bottom: 1px solid #F1E8EF;;
    }
    .burger-menu-close {
        cursor: pointer;
    }
    .burger-menu .nav {
        display: block;
        margin-top: 20px;
        height: auto;
    }
    .nav__list {
        flex-direction: column;
        gap: 15px;
    }
    .dropdown__menu {
        margin-top: -5px;
        display: flex;
        position: static;
        padding: 0;
        background: none;
        opacity: 1;
        z-index: 1;
    }
    .dropdown__menu-item {
        font-size: 14px;
    }
    .burger-menu .header__contacts {
        display: block;
        margin-top: 40px;
    }
    .header__socials {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    .header__socials-item {
        height: 30px;
        width: 30px;
    }
    .header__phone {
        margin-top: 15px;
        font-size: 16px;
        display: block;
    }
    .header__button {
        width: 195px;
        height: 42px;
        margin-top: 40px;
        font-size: 18px;
    }
}

/* Footer */
.footer {
    background: linear-gradient(93deg, rgba(245, 22, 107, 0.10) 1.73%, rgba(237, 105, 35, 0.10) 100%);
    padding: 80px 0 80px;
}

.footer__wrapper {
    display: flex;
    gap: 136px;
    align-items: flex-start;
    position: relative;
}

.footer__block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-nav {
    max-width: 304px;
}

.footer .logo {
    width: 290px;
    height: 120.143px;
}

.branding__title {
    color: #1A1A18;
    font-size: 19px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.19px;
}

.footer__button {
    margin-top: 60px;
    width: 303px;
    height: 50px;
    /* Button text */
    font-size: 20px;
}

.footer-nav__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-nav__list-item,
.contacts__title,
.socials__title {
    color: #1A1A18;
    font-size: 25px;
    font-weight: 700;
    line-height: 120%;
}

.footer-dropdown__menu {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-dropdown__menu-item,
.footer-phone,
.footer-mail {
    color: #1A1A18;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.contacts__block {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socials__block {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 150px;
}

.socials__block-item {
    transition: .2s linear;
}

.socials__block-item:hover {
    opacity: .7;
}

.contacts .socials__block {
    margin-top: 40px;
}

.socials .socials__block {
    margin-top: 15px;
}

.info {
    position: absolute;
    right: 20px;
    bottom: 0;
    display: flex;
    gap: 20px;
    color: rgba(43, 42, 41, 0.15);
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
}

@media (max-width: 576px)  {
    .footer {
        padding: 60px 0 78px;
    }
    .footer__wrapper {
        flex-direction: column;
        gap: 50px;
    }
    .info {
        display: none;
    }
    .footer .logo {
        width: 170px;
        height: 70.267px;
    }
    .footer .logo img {
        width: 100%;
    }
    .branding__title {
        font-size: 12px;
    }
    .footer__button {
        margin-top: 30px;
        width: 280px;
        height: 42px;
        font-size: 18px;
    }
    .footer__block {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 30px;
    }
    .footer-nav__list {
        gap: 15px;
    }
    .footer-nav__list-item,
    .contacts__title,
    .socials__title {
        font-size: 18px;
    }
    .footer-dropdown__menu-item,
    .footer-phone,
    .footer-mail {
        font-size: 16px;
    }
    .contacts .socials__block {
        margin: 0;
    }
    .contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .contacts__block {
        margin-top: 0;
    }
    .socials__block {
        max-width: 100%;
    }
}

/* Promo */

.promo {
    padding: 80px 0;
}

.promo__wrapper {
    display: flex;
    justify-content: space-between;
}


.promo__title {
    font-size: 72px;
    font-weight: 400;
    line-height: 110%;
    background: linear-gradient(105deg, #F5166B 8.24%, #ED6923 51.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.promo__title span {
    font-weight: 800;
}

.promo__subtitle {
    max-width: 760px;
    margin-top: 40px;
    color: #1A1A18;
    font-size: 36px;
    font-weight: 400;
    line-height: 130%;
}

.promo__button {
    margin-top: 80px;
    width: 454px;
    height: 70px;
    font-size: 28px;
}

.promo__list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 130px;
}

.promo__list-item {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    line-height: 125%;
    position: relative;
    margin-left: 80px;
    height: 60px;
    display: flex;
    align-items: center;
}

.promo__list-item::before {
    content: "";
    height: 60px;
    width: 60px;
    background: url('../img/common/promo/check.svg') center center / cover no-repeat;
    position: absolute;
    top: 0;
    left: -80px;
}

.promo__image {
    position: relative;
    border-radius: 80px;
    width: 498px;
    height: 520px;
    border-radius: 80px;
    background: #FFF;
}

.promo__image img {
    position: absolute;
    right: 0;
}

.promo__image-mobile {
    display: none;
}

@media (max-width: 576px) {
    .promo {
        padding: 30px 0 34px;
    }
    .promo__wrapper {
        flex-direction: column;
        gap: 35px;
    }
    .promo__title {
        font-size: 32px;
        font-weight: 400;
    }
    .promo__content {
        max-width: 100%;
    }
    .promo__title span {
        font-weight: 700;
    }
    .promo__subtitle {
        margin-top: 14px;
        font-size: 20px;
    }
    .promo__list {
        margin: 0;
        margin-top: 30px;
    }
    .promo__list-item {
        font-size: 24px;
        margin-left: 50px;
        height: auto;
        min-height: 40px;
    }
    .promo__list-item::before {
        width: 40px;
        height: 40px;
        left: -50px;
    }
    .promo__image {
        display: none;
    }
    .promo__image-mobile {
        align-self: flex-end;
        display: block;
        width: 300px;
        height: 238.554px;
    }
}
/* end */
.end {
    height: 586px;
    position: relative;
}

.end img {
    width: 760px;
    height: 650px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-43%) rotate(14deg);
}