/* Conditions */

.conditions__list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 736px;
}

.conditions__list-item {
    color: #1A1A18;
    font-size: 28px;
    font-weight: 400;
    line-height: 130%;
    margin-left: 38px;
    position: relative;
}

.conditions__list-item::before {
    content: "";
    position: absolute;
    left: -38px;
    top: 0;
    width: 30px;
    height: 36px;
    background: url('../img/replenishment/conditions/dot.svg') center center / cover no-repeat;
}

.conditions__banner {
    padding: 20px 40px;
    border-radius: 20px;
    border: 1px solid #F1E8EF;
    background: rgba(245, 237, 243, 0.30);
}

.conditions__banner-text {
    color: #1A1A18;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

@media (max-width: 576px) {
    .conditions__list {
        margin-top: 20px;
        gap: 8px;
    }
    .conditions__list-item {
        font-size: 18px;
    }
    .conditions__banner {
        margin-top: 30px;
        padding: 20px;
    }
    .conditions__banner-text {
        font-size: 18px;
    }
}

/* Google Conditions */

.google-conditions {
    padding-top: 120px;
}

.google-conditions__wrapper {
    margin-top: 80px;
    display: flex;
    gap: 20px;
}

.conditions-type {
    padding: 40px;
}

.conditions-type-text {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
}

.course__banner {
    padding: 20px 40px;
    margin-top: 40px;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(93deg, #F5166B 1.73%, #ED6923 100%);
}

.course__banner-text {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
}

.google-conditions .conditions__banner {
    margin-top: 80px;
}

@media (max-width: 576px) {
    .google-conditions {
        padding-top: 70px;
    }
    .google-conditions__wrapper {
        margin-top: 30px;
        flex-direction: column;
        gap: 40px;
    }
    .conditions-type {
        padding: 20px;
        border-radius: 20px;
    }
    .conditions-type-text {
        font-size: 22px;
    }
    .course__banner {
        margin-top: 40px;
        padding: 20px;
    }
    .course__banner-text {
        font-size: 18px;
    }
    .google-conditions .conditions__banner {
        margin-top: 30px;
    }
} 

/* Yandex Conditions */

.yandex-conditions {
    padding-top: 120px;
}

.yandex-conditions .conditions__banner {
    max-width: 736px;
    margin-top: 40px;
}

.yandex-conditions .container {
    position: relative;
}

.yandex-conditions .content {
    position: relative;
    z-index: 5;
}

.yandex-conditions-image {
    position: absolute;
    bottom: 0;
    right: -132px;
    z-index: 4;
}

@media (max-width: 1600px) {
    .yandex-conditions-image {
        width: 35%;
        right: 1%;
    }
}

@media (max-width: 576px) {
    .yandex-conditions {
        padding-top: 70px;
    }
    .yandex-conditions-image {
        margin-top: 40px;
        position: static;
        max-width: 100%;
    }
}

/* Advantages */
.advantages {
    padding-top: 120px;
}

.advantages-title {
    text-align: center;
}

.advantages__items {
    padding-top: 120px;
    margin-top: 80px;
    background: url('../img/replenishment/advantages/bg.png') center center / cover no-repeat;
    height: 1808px;
    display: flex;
    flex-direction: column;
}

.advantages__item {
    max-width: 628px;
    align-self: flex-end;
}

.advantages__item:nth-child(1) {
    margin-bottom: 240px;
}

.advantages__item:nth-child(2) {
    margin-bottom: 225px;
    align-self: flex-start;
}

.advantages__item:nth-child(3) {
    margin-bottom: 285px;
}

.advantages__item:nth-child(4) {
    align-self: flex-start;
}

.advantages__item-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
}

.advantages__item-descr {
    margin-top: 20px;
    color: #1A1A18;
    font-size: 28px;
    font-weight: 400;
    line-height: 140%;
}

.advantages__banner {
    margin-top: 60px;
    padding: 40px;
    width: 100%;
}

.advantages__banner-text {
    color: #1A1A18;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 130%;
}

.advantages__button {
    width: 398px;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 28px;
}

@media (max-width: 576px) {
    .advantages {
        padding-top: 70px;
    }
    .advantages-title {
        text-align: left;
    }
    .advantages__items {
        background: none;
        gap: 30px;
        padding-top: 0;
        margin-top: 30px;
        height: auto;
    }
    .advantages__item {
        max-width: 100%;
        align-self: flex-start;
        margin-bottom: 0 !important;
    }
    .advantages__item-title {
        font-size: 18px;
        min-height: 60px;
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 75px;
    }
    .advantages__item-title::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -75px;
        width: 60px;
        height: 100%;
    }
    .advantages__item:nth-child(1) .advantages__item-title::before {
        background: url('../img/replenishment/advantages/item-1.svg')
        center center / cover no-repeat;
    }
    .advantages__item:nth-child(2) .advantages__item-title::before {
        background: url('../img/replenishment/advantages/item-2.svg')
        center center / cover no-repeat;
    }
    .advantages__item:nth-child(3) .advantages__item-title::before {
        background: url('../img/replenishment/advantages/item-3.svg')
        center center / cover no-repeat;
    }
    .advantages__item:nth-child(4) .advantages__item-title::before {
        background: url('../img/replenishment/advantages/item-4.svg')
        center center / cover no-repeat;
    }
    .advantages__item-descr {
        margin-top: 10px;
        font-size: 14px;
    }
    .advantages__banner {
        margin-top: 30px;
        padding: 20px;
    }
    .advantages__banner-text {
        font-size: 18px;
    }
    .advantages__button {
        width: 242px;
        height: 42px;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 18px;
    }
}