/* Services */
.services {
    padding-top: 80px;
}

.services__wrapper {
    display: flex;
}

.animation__block {
    margin-top: 180px;
    width: 736px;
    height: 577px;
    background: url('../img/services/services/common_bg.png') center center / cover no-repeat;
    position: relative;
    transition: .4s ease;
}

.animation-trigger {
    position: absolute;
    z-index: 5;
    cursor: pointer;
    opacity: .4;
    transition: .4s ease;
}

.animation-trigger:hover {
    opacity: 1;
}

.development-trigger {
    top: 0;
    left: 121px;
}


.seo-trigger {
    left: 0;
    top: 130px;
}

.design-trigger {
    left: 0;
    bottom: 203px;
}

.ppc-trigger {
    left: 120px;
    bottom: 0;
}

.services .content__block {
    max-width: 521px;
}

.services-title {
    font-weight: 700;
}

.services__cards {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.services-card {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.services-card:first-child {
    margin-top: 0;
}

.services-card__block {
    display: flex;
    gap: 32px;
    align-items: center;
}

.context__menu {
    margin-top: 0;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 0;
    opacity: 0;
    z-index: -1;
    transition: .5s ease;
}

.context__menu.active {
    margin-top: 20px;
    opacity: 1;
    z-index: 1;
    max-height: 200px;
}

.services-card__arrow {
    transition: .4s ease;
}

.services-card__arrow.active {
    rotate: -180deg;
}

.services-card__title,
.context__menu-item {
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
}

/* Additionaly */
.additionaly {
    padding: 120px 0;
}

.swiper-additionaly {
    margin-top: 80px;
}

.additionaly-card {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 820px;
}

.additionaly-card__title {
    color: #1A1A18;
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
}

.additionaly-card__text {
    color: #1A1A18;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
}

.swiper-control {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swiper-pagination {
    position: static;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #F1E8EF;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: linear-gradient(93deg, #F5166B 1.73%, #ED6923 100%);
}

.swiper-right,
.swiper-left {
    cursor: pointer;
}

/* Consultation */
.consultation {
    padding: 120px 0;
    background: url('../img/services/consultation/bg.jpg') center center / cover no-repeat;
}


.consultation__subtitle {
    margin-top: 20px;
    color: #1A1A18;
    font-size: 28px;
    font-weight: 400;
    line-height: 140%;
}

.consultation__button {
    margin-top: 80px;
    width: 454px;
    height: 70px;
    /* Button text */
    font-size: 28px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.56px;
    color: #fff;
}
